@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';

// Breakpoints.
 
@include breakpoints((
    xlarge:   ( 1281px,  1680px ),
    large:    ( 981px,   1280px ),
    med-lrg:  ( 830px,   1044px ),
    medium:   ( 747px,   980px  ),
    small:    ( 481px,   746px  ),
    xsmall:   ( 361px,   480px  ),
    xxsmall:  ( null,    360px  )
));
 
// Base  
@import 'base/reset';
@import 'base/page';
@import 'base/typography';
 

// Components
@import 'components/model3D';
@import 'components/wrapper';
@import 'components/buttons';
@import 'components/section';
@import 'components/panel'; 
@import 'components/features';
@import 'components/icon';
@import 'components/icons';
@import 'components/split';
@import 'components/form';



// Layout
@import 'layout/wrapper';
@import 'layout/sidebar';  
@import 'layout/about';
@import 'layout/contact';
