
.model-wrapper{
   
   height: 300px;
   width: 600px;
   position: relative;
   margin-bottom: 100px;
   right: 100px;

   @include breakpoint('<medium'){
      margin-bottom: 0;
     }
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transition: 1000ms opacity; 

    @include breakpoint('<medium'){
     display: none;
    }
}    

.loading canvas{ 
   display: none;
   
}

#model_target{
   position: relative;

   .myimage{
      img {
         @include breakpoint('<medium'){
            width: 80vw !important;
            height: auto;
           }
      }
   }
  
}


.faded{
   opacity: 0;
   transition: 500ms linear all;

   @include breakpoint('<medium'){
      opacity: 1;
  }

}

.myimage{
   position: relative;
   // background-color: transparent;
   background-color: transparent;
   //background-image: url(images/flag.svg); 
   z-index: 50000; 
   transition: 500ms opacity;
   top: 75px;
   left: 83px;
}

.fade{ 
   z-index: 50000;
   transition: 500ms linear all;
   position: absolute;
   background-image: none;
   width: 600px;
   height: 300px;
}
 


