
.model-wrapper{
   
   height: 300px;
   width: 600px;
   position: relative;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transition: 1000ms opacity;
    
}    

.loading canvas{ 
   display: none;
   
}

#model_target{
   position: relative;
  
}


.faded{
   opacity: 0;
   transition: 50ms linear all;
}

.myimage{
   height: 300px;
   width: 600px;
   // background-color: transparent;
   background-color: black;
   //background-image: url(images/flag.svg); 
   z-index: 50000;
   transition: 100ms opacity;
}

.fade{ 
   z-index: 50000;
   transition: 3s linear all;
   position: absolute;
   background-image: none;
   width: 600px;
   height: 300px;
}
