.resources{
    background: #f4f4f4;
    width: 40%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;

    h3{
        font-size: 1.3rem;
    }

    p{
        margin-bottom: 3px;
    }
}



