#about {
    background-attachment: fixed;
    background-image: url(images/codebackgroundBlurWeb.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;


    height: 100vh;
 
   
}




#wrapper #about .inner {
    position: relative;
    bottom: 5vh;

    h1{
        @include breakpoint('<medium'){
            padding-top: 20px;
        }
    }

    p {
        font-size: 1.55rem; 
        width: 45%;
        line-height: 35px;

        @include breakpoint('<=med-lrg'){
            width: 50%;
        }

        @include breakpoint ('<medium'){
            width: 70%;
        }

        @include breakpoint('<=small'){
            width: 95%;
        }
    }

    
   
} 
 



// Marik Tech Script 
#brakleft{
    position: absolute;
    height: 30px;
    width: auto;
    animation-name: bracketleft;
    animation-duration: 1.5s;
 
}

#brakright{
    position: absolute; 
    height: 30px;
    width: auto;
    animation-name: bracket;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}



#m, #A, #r, #i, #k, #t, #e, #c, #h{
    position: absolute;
    height: 20px;
    left: 102px;
    opacity: 0;

    animation-name: letter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#i {
    left: 91px;
    animation-delay: 0.15s;
}

#r {
    left: 68px;
    animation-delay: 0.3s;
}

#A {
    left: 44px;
    animation-delay: 0.45s;
}

#m {
    left: 20px;
    animation-delay: 0.6s;
}

#t {
    left: 138px;
}

#e {
    left: 160px;
    animation-delay: 0.15s;
}

#c {
    left: 179px;
    animation-delay: 0.3s;
}

#h {
    left: 200px;
    animation-delay: 0.45s;
}

@keyframes letter {
    0% {top: 100px; opacity: 0;}
    50% {opacity: 0;}
    100% {top: 6px; opacity: 1}
}



@keyframes bracket{
    0% {left: 130px; opacity: 0; transform: rotate(30deg);}
    80% {left: 242px;}
    100% {left: 228px; opacity: 1; transform: roate(0deg);}
}

@keyframes bracketleft{
    0% {left: 130px; opacity: 0; transform: rotate(-30deg);}
    80% {left: -10px;}
    100% {left: 0px; opacity: 1; transform: rotate(0deg);}
}
